appdirs==1.4.4
attrs==21.2.0
black==21.5b0
cffi==1.14.5
click==7.1.2
coverage==5.5
iniconfig==1.1.1
isort==5.8.0
mypy==0.812
mypy-extensions==0.4.3
packaging==20.9
pathspec==0.8.1
pluggy==0.13.1
py==1.10.0
PyAudio==0.2.11
pycparser==2.20
pyparsing==2.4.7
pytest==6.2.4
pytomlpp==0.3.5
pyttsx3==2.90
regex==2021.4.4
toml==0.10.2
typed-ast==1.4.3
types-pyaudio==0.2.0
typing-extensions==3.10.0.0
vosk==0.3.27
word2number-i18n==1.2.0
